$coin-diameter: 300px;
$coin-thickness: 20px;
$coin-color: #bbb792;
$coin-front: "https://lh3.googleusercontent.com/proxy/4N_qUJJ9mVfvf90IC8viPQzNV8DdF__8HhvWfHblX00LI3slsBKY4A0YfNizJsexovofBKli605UG-SH2kVr3u7361ZDo_V_1sOzxil8WipPUKtkieUugiXshd4Cbhd1r40a8eS0DEcAeB8xLUjyfOWrrFSibwPLrO3WthvfcTo";
$coin-back: "https://lh3.googleusercontent.com/proxy/Qup6O50KFjWv5ZFYau_9cwkLQM27pW0lANdgXiLqRxAvvOtIeLKSXHdqETfBt3IKKOib7NoxQByQwifb_Pm16lWHhXJo2RZ9imWuU9C54trLxKMeFDNkSc9iGmY2aZzY8gg6BTNjT8IoyoPWwqXUWpF0EefKQHzA1VAtWGc3jw";
$edge-faces: 80;
$edge-face-length: 3.14*$coin-diameter/$edge-faces;
$turn-time: 8s;

.coin {
  position: relative;
  width: $coin-diameter;
  height: $coin-diameter;
  margin: 50px auto;
  transform-style: preserve-3d;
  animation: rotate3d $turn-time linear infinite;
  transition: all 5s;
}

#rotateButton {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 7px;
  background: rgb(16, 138, 165);
}

#roateText {
  padding: 1rem;
  font-size: 16px;
  font-weight: 500;
}

.rotateBtn {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coin__front,
.coin__back {
  position: absolute;
  width: $coin-diameter;
  height: $coin-diameter;
  border-radius: 50%;
  overflow: hidden;
  background-color: $coin-color;

  &:after {
    content: "";
    position: absolute;
    left: -$coin-diameter/2;
    bottom: 100%;
    display: block;
    height: $coin-diameter/1.5;
    width: $coin-diameter*2;
    background: #fff;
    opacity: 0.3;
    animation: shine linear $turn-time/2 infinite;
  }
}

.coin__front {
  background-image: url($coin-front);
  background-size: cover;
  transform: translateZ($coin-thickness/2);
}

.coin__back {
  background-image: url($coin-back);
  background-size: cover;
  transform: translateZ(-$coin-thickness/2) rotateY(180deg);
}

.coin__edge {
  @for $i from 1 through $edge-faces {
    div:nth-child(#{$i}) {
      position: absolute;
      height: $edge-face-length;
      width: $coin-thickness;
      background: darken($coin-color, (($i - $edge-faces/2) * ($i - $edge-faces/2)) / ($edge-faces*$edge-faces/4) * 100 * 0.7);
      transform: translateY(#{$coin-diameter/2-$edge-face-length/2}) translateX(#{$coin-diameter/2-$coin-thickness/2}) rotateZ(360deg/$edge-faces*$i+90) translateX(#{$coin-diameter/2}) rotateY(90deg);
    }
  }
}

.coin__shadow {
  position: absolute;
  width: $coin-diameter;
  height: $coin-thickness;
  border-radius: 50%;
  background: #000;
  box-shadow: 0 0 $coin-thickness*5 $coin-thickness*5 #000;
  opacity: 0.125;
  transform: rotateX(90deg) translateZ(-$coin-diameter*1.1) scale(.5);
}


@keyframes shine {

  0%,
  15% {
    transform: translateY($coin-diameter*2) rotate(-40deg);
  }

  50% {
    transform: translateY(-$coin-diameter) rotate(-40deg);
  }
}